nav{
    width: 710px;
  }
  
  a{
    text-decoration: none;
    color: #308ebd;
    border-bottom: 5px solid #308ebd;
    padding: 10px 20px;
    margin-bottom: 10 px;
    font-family: sans-serif;
    display: inline-block;
  }